# Mac OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Golang
##########
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.exe
*.exe~
*.dll
*.o
*.a
*.so
*.dylib

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Test binary, build with `go test -c`
_testmain.go
*.test
*.prof

# Emacs
\#*
.#*

# Sublime Text
*.sublime-project

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Output of the go coverage tool
coverage.txt
*.coverprofile
*.out
